*{
    text-align: center;

}
body{
        background-color: hsla(0, 0%, 50%, 0.2);
}
form{
    background-color: azure;
    padding: 25px;
    max-width: 400px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.226);
}

label{
    font-size: 1.2em;
}
#userTemp{
    max-width: 70px;
    height: 40px;
    font-size: 1.4em;
}
button{
    background-color: hsl(180, 100%, 50%);
    padding: 10px;
    font-size: 1.5em;
    border: none;
    border-radius: 15px;
    box-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.589);
    cursor: pointer;
}
button:hover{
    background-color: hsl(180, 100%, 90%);
}